<div class="container">
  <div class="py-5 text-center">
    <h2>Formulario de Clientes</h2>
  </div>
  <!-- ////////// F O R M U L A R I O /////////////-->
  <div class="row">   
    <div class="col-md-12">
      <h4 class="mb-3">Creacion de Cliente</h4>
      <form class="needs-validation" novalidate (ngSubmit)="agregarCliente()" #formulario="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Carlos"  required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Perez"  required>
          </div>
        </div>

        <div class="mb-3">
            <label for="cc-name">Age</label>
            <input type="text" class="form-control" id="cc-name" [(ngModel)]="cliente.edad" name="edad" placeholder="22" required>          
        </div>

        <div class="mb-3">
          <label for="address">Fecha de Nacimiento</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="cliente.fecha_nac" name="fecha_nac" placeholder="01/01/1991" required>
        </div>
       
        <hr class="mb-4">
        <button [disabled]="!formulario.valid" class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
      </form>
    </div>      
  </div>

  <!-- ////////// T A B L A /////////////-->
  <div class="row" style="margin-top: 5rem">
    <div class="col">
      <h2>Tabla</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm" >
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Fecha Nacimiento</th>
            </tr>
          </thead>
          <tbody *ngFor="let persona of clientes">
            <tr>
              <td>1</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.edad }}</td>
              <td>{{ persona.fecha_nac }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>  
  </div>
</div>
