<div class="container">
  <div class="py-5 text-center">
    <h2>Formulario de Clientes</h2>
  </div>
  <!-- ////////// F O R M U L A R I O /////////////-->
  <div class="row">   
    <div class="col-md-12">
      <h4 class="mb-3">Creacion de Cliente</h4>
      <form class="needs-validation" novalidate (ngSubmit)="agregarCliente()" #formulario="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Carlos"  required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Perez"  required>
          </div>
        </div>

        <div class="mb-3">
            <label for="cc-name">Age</label>
            <input type="number" class="form-control" id="cc-name" [(ngModel)]="cliente.edad" name="edad" placeholder="22" required>          
        </div>

        <div class="mb-3">
          <label for="address">Fecha de Nacimiento</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="cliente.fecha_nac" name="fecha_nac" placeholder="01/01/1991" required>
        </div>
       
        <hr class="mb-4">
        <button [disabled]="!formulario.valid" class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
      </form>
    </div>      
  </div>


  <!-- ////////// T A B L A /////////////-->
  <div class="row" style="margin-top: 3rem">
    <div class="col">
      <h2>Tabla</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm" >
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Fecha Nacimiento</th>
              <th> Detalle</th>
            </tr>
          </thead>
          <tbody *ngFor="let persona of clientes; let indice=index">
            <tr>
              <td>{{ indice+1 }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.edad }}</td>
              <td>{{ persona.fecha_nac }} </td>
              <td style="color: green; cursor:pointer" data-target="#myModal" data-toggle="modal"  (click)="buscarPersona(indice)">  Ver detalle  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>

  
  <!-- ////////// P R O M E D I O  /////////////-->
  <div style="margin-top: 2rem">    
    <div class="alert alert-primary" role="alert">
      Promedio de edad : {{ promedio }}
    </div>
    <button type="button" class="btn btn-success" style=" left: 50%;" (click)="promedioEdades()">Calcular Promedio</button>    
  </div>
  
  <!-- ////////// V A R I A N Z A  /////////////-->
  <div style="margin-top: 2rem">    
    <div class="alert alert-primary" role="alert">
      Desviación de Estándar : {{ desviacionEstandar }}
    </div>
    <button type="button" class="btn btn-success" style=" left: 50%;" (click)="desviacionEstandardEdades(promedio)">Calcular Desviación Estándar</button>    
  </div>


  <!-- ////////////// M O D A L /////////////////// -->
  <div class="modal fade" id="myModal" #content >
    <div class="modal-dialog" role="document">        
      <div class="modal-content">
        <div class="modal-header" style="align-items: center; justify-content: center;" *ngIf="clienteSeleccionado">
          <div class="card mb-4 shadow-sm" >
            <!-- <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{bebidaSeleccionada.strDrink }}</h4>
            </div> -->
            <div class="card-body" >
              <h1 class="card-title pricing-card-title"> <small class="text-muted"> Detalles</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Nombre  : <span class="text-primary">{{clienteSeleccionado.nombre}}</span></li>
                <li>Apellido: <span class="text-primary"> {{ clienteSeleccionado.apellido }} </span></li>
                <li>Edad: <span class="text-primary">{{ clienteSeleccionado.edad }} </span></li>
                <li>Profesion: <span class="text-primary">{{ clienteSeleccionado.profesion }} </span></li>
                <li>Fecha Nacimiento: <span class="text-primary">{{ clienteSeleccionado.fecha_nac }} </span></li>
                <li>Fecha Muerte: <span class="text-primary">{{ clienteSeleccionado.fecha_muerte }} </span></li>
              </ul>
            </div>
          </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
